*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #170601;
    color: white;
}


/* ALL TEXT */
#welcome-text{
    font-size: 28px;
    font-weight: 700;
    color: #ff8c32;
    letter-spacing: 1px;
    text-shadow:
        0 0 5px rgba(255,140,50,0.8),
        0 0 15px rgba(255,140,50,0.6),
        0 0 25px rgba(255,140,50,0.4);
    transition: all 0.3s ease;
}

#welcome-text:hover{
    text-shadow:
        0 0 10px rgba(255,140,50,1),
        0 0 20px rgba(255,140,50,0.8),
        0 0 40px rgba(255,140,50,0.6);
}

.logo{
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow:
        0 0 5px rgba(255,140,50,0.8),
        0 0 15px rgba(255,140,50,0.6),
        0 0 25px rgba(255,140,50,0.4);
    transition: all 0.3s ease;
}
/* Header */

.header{
    height: 80px;
    background-color: #170601;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;

    border-bottom: 2px solid #fc7311;
}

.logo{
    flex: 1;
}

.welcome{
    flex: 1;
    text-align: center;
}

.search-box{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.search-box input{
    width: 300px;
    padding: 10px;
    border: 1px solid #fc7311;
    border-radius: 8px;
}

/* Main Layout */

.container{
    display: flex;
    height: calc(100vh - 80px);
}

/* Sidebar */

.sidebar{
    width: 280px;
    background-color: #170601;
    padding: 20px;
    overflow-y: auto;
    border-right: 2px solid #fc7311;
}

.sidebar h2{
    margin-bottom: 20px;
}

.video-list{
    list-style: none;
}

.video-list li {
  margin-bottom: 10px;
  padding: 12px;
  border: none;
  outline: none;
  background-color: #2a0d04;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  border: 1px solid #fc7311;
}

.video-list li::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2a0d04;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.video-list li::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.video-list li:hover{
    transform: translateY(-5px) ;
    transition: 0.3s ease;
}

.video-list li:hover:before {
  opacity: 1;
}

.video-list li.selected:before {
  opacity: 1;
}

.video-list li.selected::after {
  background: transparent;
}

.video-list li.selected {
  color: #000;
  font-weight: bold;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #170601;
}
::-webkit-scrollbar-thumb:hover{
    background: #ffffff;

}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        180deg,
        #fc7311,
        #ffb347
    );
    border-radius: 999px;
}

/* Main Content */
.content{
    flex: 1;
    padding: 25px;
    overflow-y: auto;
}

/* Progress Section */

.progress-section{
  margin: 0 auto;
  padding: 2em;
  background-color: #2a0d04;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.progress-section::after, .progress-section::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.progress-section::before{
  filter: blur(1.5rem);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.progress-section:hover{
    transform: translateY(-10px) ;
}

.progress-section:hover::before {
  opacity: 1;
} 


.progress-bar{
    width: 100%;
    height: 25px;
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
    margin: 15px 0;
}

.progress-fill{
    width: 0%;
    height: 100%;
    background-color: #68fc2d;
}

/* Video Content */

.video-content{
  margin: 0 auto;
  padding: 2em;
  background-color: #2a0d04;
  border-radius: 10px;
  position: relative;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.video-content::after, .video-content::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.video-content::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.video-content h2{
    margin-bottom: 15px;
}

.notes{
    background-color: #5e3b09;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.code-example,
.output-section,
.complete-section{
    margin-top: 25px;
}

.code-example pre{
    background-color: #111827;
    color: white;
    padding: 15px;
    border-radius: 10px;
    overflow-x: auto;
    border: 1px solid white;
}

#video-output{
    background-color: #170601;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    
}

#video-notes{
    white-space: pre-line;
    line-height: 1.8;
}